<div id='page_content'>
  <div class='page-header'>
    <h1>
      <%= @dataset.model.titleized_name %> - <small>Bulk import data</small>
    </h1>
  </div>

  <%= render 'attributes', result: @dataset %>

  <% if @dataset.has_result? %>
    <%= render 'import_summary', result: @dataset %>

    <% if @dataset.file.has_errors? %>
      <%= render 'error_report', file: @dataset.file, model: @dataset.model %>
    <% end %>
  <% end %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h4 class='panel-title'>Upload Data File</h4>
    </div>

    <div class='panel-body'>
      <%= form_for @dataset, html: {multipart: true, id: 'data_upload_form', role: 'form'} do |f| %>
        <%= f.hidden_field :model_class_name %>

        <div class="form-group mb30 <%= 'has-error' if has_errors?(@dataset, :data_file) %>">
          <%= f.file_field :data_file %>
          <%= show_error_message(@dataset, :data_file) %>
        </div>

        <input class='btn btn-default' id='preview_button' type='button' value='Preview'>
        <%= f.submit 'Import', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
